@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');

/* Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

h3 {
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 3px;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

.img-small {
    width: 180px;
}