@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Box Model */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    margin: 10px 0 !important;
}

.login-container {
    width: 400px;
    margin-top: 50px;
    text-align: center;
}

h3 {
    font-family: 'Dancing Script', cursive;
    letter-spacing: 7px;
}